@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Germania+One&display=swap");
* {
  margin: 0;
  padding: 0;
}
header {
  height: 120px;
  background-image: linear-gradient(20deg, #000, gold, black);
}
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  margin: auto;
}
.logo {
  padding: 0.5rem;
}
.logo img {
  height: 100px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}
.menu ul {
  display: flex;
  list-style: none;
}
.menu li a {
  text-decoration: none;
  color: #1e1e1e;
  padding: 20px;
  font-size: 23px;
}
.menu li a:hover {
  color: #000;
  border-bottom: 2px solid rgba(20, 10, 40, 0.5);
}
.menu-oculto {
  display: none;
}
.menu-oculto:hover {
  display: flex;
}
.contato {
  display: flex;
  align-items: center;
}
.contato a {
  text-decoration: none;
  display: block;
  background-color: #000;
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.dropdown::after {
  content: "🔽";
  margin-left: -15px;
  cursor: pointer;
}
.dropdown-menu {
  position: absolute;
  background-color: #ddd;
  max-width: 818px;
  width: 100%;
  display: none;
}
.dropdown-menu a {
  display: block;

}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 7px;
  padding: 10px 0;
}
.contato a:hover {
  background-image: linear-gradient(45deg, black, gold);
}

.banner {
  width: 100%;
  height: auto;
}
.banner img {
  width: 100%;
  height: auto;
}
.body {
  background-color: #fff;
  margin-top: -4px;
}
.body .perfumes {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.body .perfumes h2 {
  margin-top: 20px;
  color: #111;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
.body .photos a {
  text-decoration: none;
}
.body .photo {
  max-width: 1160px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.body .photo-vendidos {
  padding: 20px;
  width: 250px;
  height: auto;
}
.body .photo-img {
  width: 100%;
  overflow: hidden;
}
.body .photo-img img {
  width: 100%;
  height: auto;
}
.body .photo-img img:hover {
  transition: all 0.3s linear;
  scale: 1.5;
}
.titulo {
  text-align: center;
  margin-top: 10px;
  color: #1f1f1f;
  font-size: 18px;
  font-family: "Cormorant Garamond", system-ui;
  font-weight: 600;
  font-style: normal;
}

.titulo:hover {
  color: gold;
}

.novidades .perfumes {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.novidades .perfumes h2 {
  margin-top: 20px;
  color: #111;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
.novidades .photos a {
  text-decoration: none;
}
.novidades .photo {
  max-width: 1160px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.novidades .photo-vendidos {
  padding: 20px;
  width: 250px;
  height: auto;
}
.novidades .photo-img {
  width: 100%;
  height: auto;
  background-color: #fff;
  overflow: hidden;
}
.novidades .photo-img img {
  width: 100%;
  height: auto;
}
.novidades .photo-img img:hover {
  transition: all 0.3s linear;
  scale: 1.5;
  opacity: 0.8;
}
.novidades .titulo {
  text-align: center;
  margin-top: 10px;
  color: #1f1f1f;
  font-size: 18px;
  font-family: "Cormorant Garamond", system-ui;
  font-weight: 600;
  font-style: normal;
}
.novidades .titulo:hover {
  color: gold;
}

.gosto .perfumes {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.gosto .perfumes h2 {
  margin-top: 20px;
  color: #111;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
.gosto .photos a {
  text-decoration: none;
}
.gosto .photo {
  max-width: 1160px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.gosto .photo-vendidos {
  padding: 20px;
  width: 250px;
  height: auto;
}
.gosto .photo-img {
  width: 100%;
  height: auto;
  background-color: #fff;
  overflow: hidden;
}
.gosto .photo-img img {
  width: 100%;
  height: auto;
}
.gosto .photo-img img:hover {
  transition: all 0.3s linear;
  scale: 1.5;
  opacity: 0.8;
}
.gosto .titulo {
  text-align: center;
  margin-top: 10px;
  color: #1f1f1f;
  font-size: 18px;
  font-family: "Cormorant Garamond", system-ui;
  font-weight: 600;
  font-style: normal;
}
.gosto .titulo:hover {
  color: gold;
}

.mobile-menu-icon {
  display: none;
}
.menu-mobile {
  display: none;
}
.mobile-menu-icon img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  mix-blend-mode: multiply;
}
@media (max-width: 450px) {
  .container {
    flex: 1;
  }
  .menu nav ul {
    display: none;
    flex-direction: column;
    left: 0;
    position: absolute;
    width: 70%;
    background-color: #fff;
    height: 100%;
    margin-top: 25px;
  }
  .menu nav li a {
    color: #000;
    line-height: 80px;
    font-size: 25px;
  }
  .contato {
    width: 150px;
    flex: 1;
  }
  .contato a {
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 23px;
  }
  .mobile-menu-icon {
    display: block;
  }
  .menu-mobile {
    display: flex;
  }
  .dropdown-menu a {
    margin-top: -40px;
    color: #fff;
  }

  .menu li a {
    color: #000;
  }
  .mobile-menu-icon button {
    margin-top: 15px;
    margin-left: 25px;
  }
  .logo {
    flex: 1;
    text-align: center;
  }
  .logo img {
    width: 60px;
    height: 60px;
  }
  .photo {
    display: flex;
    justify-content: center;
  }
  .titulo {
    font-size: 18px;
    color: #1f1f1f;
  }
  .novidades .titulo {
    font-size: 18px;
    color: #1f1f1f;
  }
  .gosto .titulo {
    font-size: 18px;
    color: #1f1f1f;
  }
  header {
    height: 75px;
  }
  .body .photo-vendidos {
    width: 150px;
  }
  .novidades .photo-vendidos {
    width: 150px;
  }
  .gosto .photo-vendidos {
    width: 150px;
  }
}

.produtos {
  max-width: 860px;
  margin: auto;
}
.produto {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.produto1  {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.produto1 img{
  width: 100%;
}
.produto2 {
  text-align: center;
  width: 100%;
  height: 300px;
  margin-left: 20px;
  text-decoration: none;
}
.produto2 img{
  width: 100%;
}

.produto3 {
  text-align: center;
  width: 100%;
  height: 300px;
  margin-left: 20px;
}
.produto3 img{
  width: 100%;
}
.produto3 a, .produto2 a,  .produto1 a {
  text-decoration: none;
  color: #000;
}
footer {
  background-color: #141414;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roda h1 {
  color: #fff;
  font-size: 16px; 
}

.atention {
  color: #141414;
  margin-bottom: 10px;
  border: 3px solid #ccc;
  margin-top: 25px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}
.atention h1 {
  font-size: 15px;
  padding: 13px;
  line-height: 22px;
}
