@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Germania+One&display=swap");
* {
  margin: 0;
  padding: 0;
}
header {
  height: 120px;
  background-image: linear-gradient(20deg, #000, gold, black);
}
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  margin: auto;
}
.logo {
  padding: 0.5rem;
}
.logo img {
  height: 100px;
}
.menu {
  display: flex;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}
.menu ul {
  display: flex;
  list-style: none;
}
.menu li a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
  font-size: 23px;
}
.menu li a:hover {
  color: #000;
  border-bottom: 3px solid gold;
}
.contato {
  display: flex;
  align-items: center;
}
.contato a {
  text-decoration: none;
  display: block;
  background-color: #000;
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.contato a:hover {
  background-image: linear-gradient(45deg, black, gold);
}
.banner {
  display: flex;
  margin: auto;
}
.foto {
  flex: 1;
}
.foto img {
  width: 100%;
  height: auto;
  background-color: transparent;
}
.desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.desc .title {
  font-size: 20px;
  margin-bottom: 40px;
}
.desc .title h1 {
  color: #aaa;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.desc .sub-title {
  margin-bottom: 30px;
}
.desc .sub-title h2 {
  font-size: 30px;
  font-family: "Germania One", system-ui;
  font-weight: 200;
  font-style: normal;
  color: gold;
}
.desc-perfume {
  margin-bottom: 30px;
}
.desc-perfume h2 {
  font-size: 35px;
  color: #2d2d2d;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.desc-perfume-sub h2 {
  font-size: 20px;
  color: #a1a1a1;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 30px;
}
.desc-perfume-sub {
  border-bottom: 2px dotted #cccc;
  margin-bottom: 50px;
}
.valor {
  font-size: 30px;
  font-family: "Germania One", system-ui;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 40px;
}
.tamanho h2 {
  font-size: 40px;
  color: #aaa;
  font-family: "Germania One", system-ui;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 30px;
}
.tamanho {
  display: inline-block;
}
.tamanho a {
  border: 1px solid gold;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 25px;
  background-color: gold;
  color: #000;
  font-weight: bolder;
  outline: none;
}
.discricao {
   padding: 30px;
}
.discricao h2{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}
.discricao p{
    font-size: 17px;
    color: #a3a3a3;
    margin-bottom: 20px;
}

@media (max-width:450px){
  .desc{
    text-align: center;
  }
}